body {
  position: relative;
}

@keyframes stats {
  0% {
    transform: translate(-50%, -50%)  rotate(-10deg);
  }
  100% {
    transform: translate(-50%, -50%)  rotate(10deg);
  }
}

.statistics > div {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: 1s stats ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: 50% 75%;
}

.statistics > * {
  text-align: center;
}

.statistics span {
  font-size: 20px;
  margin: 15px;
  display: block;
}

@keyframes stats-header {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.stats-header > span {
  display: inline;
  font-size: 45px;
  margin: 0;
  animation: 2s stats-header;
}

span.green {
  color: green;
}

span.red {
  color: red;
}

span.pink {
  color: pink;
}

span.blue {
  color: #003399;
}

span.yellow {
  color: #ffcc00;
}

span.pink {
  color: pink;
}

a.pink {
  color: pink !important;
}
/* The animation code */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  17%  {background-color:yellow; left:100%; top:0px; transform: translateX(-100%);}
  30%  {background-color:blue; left:200px; top:200px;}
  45%  {background-color:green; left:0px; top:100%; transform: translateY(-100%);}
  63%  {background-color:grey; left:74%; top:100%; transform: translateX(-100%);transform: translateY(-100%);}
  75%  {background-color:red; left:34%; top:72%;}
  85%  {background-color:red; left:72%; top:34%;}
  100% {background-color:pink; left:0%; top:0%;}
}


/* The element to apply the animation to */

.init {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-style: italic;
  font-size: xxx-large;
  position: relative;
  background-color: red;
  animation-name: example;
  animation-duration: 5.5s;
  animation-iteration-count: infinite;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}


.statistics h1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-style: italic;
  color: red;
}

.wave {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 160px;
  height: 160px;
  max-width: 50vw;
  max-height: 50vw;
  animation: 2.9s wave_animation ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: 50% 75%;
}

@keyframes wave_animation {
  0% {
    transform: translate(-50%, -50%) scale(0) rotate(-10deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(0) rotate(10deg);
    opacity: 0;
  }
  10%,
  64% {
    transform: translate(-50%, -50%) scale(1) rotate(10deg);
  }
  36%,
  90% {
    transform: translate(-50%, -50%) scale(1) rotate(-10deg);
  }
}

@keyframes quote {
  0% {
    opacity: 0;
    transform: scale(0) translate(-50%, -50%);
  }

  100% {
    opacity: 1;

    transform: scale(1) translate(-50%, -50%);
  }
}

.quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  display: none;
  opacity: 0;
  animation-iteration-count:1;
  animation: 2s quote;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  background-color: #003399;
  color: #ffcc00;
  border-radius: 10px;
  padding: 12px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  justify-items: center;
  align-items: start;
  margin: auto;
  margin-top: 30px;
  width: 50%
}

.bye {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bye > button {
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
}

.card {
  padding: 20px;
  background-color: pink;
  border-radius: 10px;
  font-style: italic;
  width: 12vw;
  min-width: 200px;
}

.card > .author {
  margin-top: 5px;
  display: block;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: end;
}

@keyframes error {
  0% {
    opacity: 0;
    transform: scale(0) translate(-50%, -50%);
  }

  50% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }

  100% {
    opacity: 0;
    transform: scale(0) translate(-50%, -50%);
  }
}

.error {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 200px;
  background-color: red;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  animation: error 3s;
  animation-fill-mode: forwards;
  font-size: 30px;
}